:root {
    --h1-font-family: 'DM Sans', sans-serif;
    --text-font-family: 'Roboto', sans-serif;
    --text-color: #000000;
    --icons-color: #6353FF;
    --background-grey: #F5F6F7;
    --background-white: #FFFFFF;
  }

html {
    font-size: 100%;    
}

body {
    font-family: var(--text-font-family);
    color: var(--text-color);
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-grey);
}

.container {
    max-width: 600px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(1, 290px);
    background-color: var(--background-white);  
   
}

.column-1 {
    /* flex: 0 1 50%; */
    justify-self: start;
    align-self: start;
    margin-left: 2.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-family: var(--h1-font-family);
    font-size: 1.5rem;
    line-height: 1.66rem;
    margin: 0;    
}

h2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.9rem;
    padding: 0;
    margin: 0;
}

.list {
    margin-top: 3rem;
}

ul {
    list-style: none;
    font-weight: 600;
    text-align: left;
    font-size: 0.75rem;
    line-height: 2.2rem;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    cursor: pointer;
    color: var(--icons-color);
}
.column-2 {
    display: grid;
    grid-template-rows: 1fr 2fr; 
    padding: 0;  
    margin: 0;
}

.vector-black {
   align-self: end;
   justify-self: end;   
}

.photo {
    width: 291px;
    z-index: 1;
    justify-self: end;
    position: relative;
    bottom: 24px;
   }

.vector-blue {
    position: relative;
    bottom: 94px;
}